<div class="row">
  <div class="col-md-12">
    <h3>Cache</h3>
    <%= link_to 'Clear cache', dashboard_clear_cache_path, data: { confirm: "You sure?" }, class: "button button-caution" %>
    <hr />
  </div>

  <div class="col-md-4">
    <h3>Totals</h3>
    <div class="table-responsive">
    <%= render 'total_data' %>
    </div>
  </div>

</div>

<div class="row">
 <hr />
 <div class="col-md-12">
  <div role="tabpanel">

    <ul class="nav nav-tabs" role="tablist" id='metrics-tabs'>
      <li role="presentation"><a href="#metrics" aria-controls="metrics" role="tab" data-toggle="tab">Metrics</a></li>
      <li role="presentation"><a href="#rooms" aria-controls="rooms" role="tab" data-toggle="tab">Rooms</a></li>
    </ul>

    <div class="tab-content">
      <div role="tabpanel" class="tab-pane active" id="metrics">
        <%= render 'metrics' %>
      </div>

      <div role="tabpanel" class="tab-pane" id="rooms">
        <div class="col-md-12">
        <%= render 'rooms' %>
        </div>
      </div>
    </div>

  </div>
  </div>
</div>

<script>
  $(function () {
    $('#metrics-tabs a:last').tab('show')
  })
</script>