<div id="footer" class="container">
  <nav class="navbar-fixed-bottom">
    <div class="navbar-inner navbar-content-center text-right dashboard-link <%= show_dashboard %>">
     <%= link_to('Dashboard', dashboard_path) %>
    </div>
  </nav>
</div>